<div class="author">
    <h1 class="author__heading">Hello, I m dev</h1>
    <p class="author__body">web dev and student</p>
</div>

<img src="img/apple.jpg" alt="apple"/>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <!--Dummy data displayed until we include posts later-->

    <ul class="article-ul">
        <li>
            <a href="a">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">
        &lt; View Older Posts
    </a>
</section>